@model SOCAUD.Intranet.Controllers.ConsultaModel

@{
    ViewBag.PageTitle = "Consultas";
    ViewBag.PageDescription = "Consultas";
    ViewBag.PageDescription = "Listado de Consultas";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title">Listado de Consultas</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Publicacion</label>
                            @Html.DropDownListFor(c=>c.CodigoPublicacion, Model.lista, "Seleccione", new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            <br />
                            <button id="btnBuscar" class="btn btn-default"><i class="fa fa-search"></i>&nbsp;Buscar</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="tabConsultas" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalResponder" tabindex="-1" role="dialog" aria-hidden="true"></div>

@section scripts {

    <script type="text/javascript" language="javascript">

    var _dataConsulta_ = null;
    var tabConsulta = $("#tabConsultas").dataTable({
        "info": false,
        "bServerSide": false,
        "data": _dataConsulta_,
        "order": [[1, "asc"]],
        "columns": [
            {
                "bSortable": false,
                "sClass": "center",
                "sWidth": "5%",
                "render": function (data, type, row) {
                    return '<center><button class="btn btn-success" title="Responder" type="button" onclick="ResponderConsulta(' + row[0] + ');"><i class="fa fa-tasks"></i></button></center>';
                }
            },
            { "sTitle": "Consulta" },
            { "sTitle": "Respuesta" }
        ]
    });


    $(document).ready(function () {
        //listarCronogramas();
        $("#btnBuscar").click(listarConsultas);

    });


    $('#modalResponder').on('hidden.bs.modal', function () { listarConsultas(); });

    function ResponderConsulta(idConsulta) {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("ResponderConsulta", "Consulta")',
            data: { idConsulta: idConsulta },
            success: function (result) {
                $("#modalResponder").empty().html(result).modal();
            }
        });
    }

    function listarConsultas() {
        $.ajax({
            url: '@Url.Action("ListarConsultas", "Consulta")',
            type: 'POST',
            async: false,
            data: { idPublicacion: $("#CodigoPublicacion").val() },
            success: function (result) {
               
                _dataConsulta_ = result;
                tabConsulta.fnReloadData(_dataConsulta_);
            }
        });
    }

    </script>
}

